/*home.hmtl*/
/* Fondo general y color base del texto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3F4F59;
    color: #D8E6F2;
    font-family: 'Jersey 10', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
  
/* Títulos en rosa */
h1, h2, h3, h4, h5 {
    color: #A62139;
    margin: 1em 0 0.5em 0;
}
  
/* Enlaces*/
a {
    color: #A62139;
    text-decoration: none;
}
  
a:hover {
    color: #A64170;
    text-decoration: underline;
}
  
/* Footer */
footer {
    background-color: #2F3B42;
    padding: 20px;
    text-align: center;
    color: #D8E6F2;
}
  
footer a {
    color: #A62139;
    margin: 0 10px;
}

footer a:hover {
    color: #A64170;
}


/* Contenedor principal del header */
.top {
    background-color: #2F3B42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    gap: 8px;
    margin-bottom: 0px; 
}

/* Logo + Buscador */
.logo {
    width: 350px;
    height: auto;
    margin-bottom: 0px;
}

.buscador {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
}
  
.buscador input[type="search"] {
    width: 100%;
    max-width: 500px;
    padding: 30, 0;
    font-family: 'Jersey 10', cursive;
    font-size:30px;
    background-color: #A62139;
    color: #D8E6F2;
    border: 2px solid #A62139;
    border-radius: 10px;
    margin: 0;
}
  
.buscador input::placeholder {
    color: #D8E6F2;
}
  
.buscador button {
    padding: 30px, 0;
    background-color: #A62139;
    color: #D8E6F2;
    border: 2px solid #A62139;
    font-family: 'Jersey 10', cursive;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
}

/*Usuario*/
.usuario {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-family: 'Jersey 10', cursive;
}

.usuario a {
    color: #D8E6F2;
    text-decoration: none;
}
  
.usuario a:hover {
    color: #A64170;
}

.usuario img.icono {
    width: 30px;  
    height: auto;
    margin-right: 8px;  
    vertical-align: middle;  
    margin: 0;
    padding: 10px, 0;
}

/* Barra de menú debajo */
.menu {
    background-color: #3F4F59;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    border-top: 1px solid #A62139;
    border-bottom: 1px solid #A62139;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    margin-top: 8px 0;
}
  
.menu a {
    color: #A64170;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Jersey 10', cursive;
}
  
.menu a:hover {
    text-decoration: underline;
    color: #D8E6F2;
}



/*CARRUSEL */
.carrusel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;

    background: #2F3B42;
    background-image:
        linear-gradient(to right, #3F4F59 35%, #A64170 45%),       
        linear-gradient(to right, #3F4F59 35%, #A64170 45%);       
    background-repeat: no-repeat;
    background-size: 100% 171px, 100% ; 
    background-position: top, bottom; 
}

.carrusel input[type="radio"] {
    display: none;
}
  
.slides{
    display: flex;
    width: 100%;                 
    transition: transform 0.6s ease;
}
   

.box{
    flex:0 0 100%;
    height:500px;               
    display:flex;
    justify-content:center;
    align-items:center;
          
}
  
.box img{
    max-width:100%;
    max-height:100%;                
    object-fit:contain;  
    display: block;       
}
  
.dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
  
.dots label{
    width: 14px;
    height: 14px;
    border: 2px solid #A62139;  
    border-radius: 50%;
    cursor: pointer;
}
  

.dots label:hover,
#s1:checked ~ .slides {
  transform: translateX(0%);
}

#s2:checked ~ .slides {
  transform: translateX(-100%);
}

#s3:checked ~ .slides {
  transform: translateX(-200%);
}

.dots label:hover,
#s1:checked ~ .inner-carrusel .dots label[for="s1"],
#s2:checked ~ .inner-carrusel .dots label[for="s2"],
#s3:checked ~ .inner-carrusel .dots label[for="s3"]{
    background-color: #A62139;
}

.dots label:checked {
    background-color: #A62139;
} 

/*PRODUCTOS DESTACADOS*/
.titulo-categoria {
    font-size: 50px;
    color: #A64170;
    margin-bottom: 10px;
    padding-left: 30px; 
}
/* Contenedor de productos */
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 32px;
    row-gap: 16px;
    padding: 16px 0;
    align-items: center;
}
  
/* Tarjeta individual */
.tarjeta {
    background-color: #2F3B42;
    border: 1px solid #A62139;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(166, 33, 57, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Jersey 10', cursive;
    color: #D8E6F2;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    min-height: 500px;
}
  
.tarjeta:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 6px 20px rgba(166, 33, 57, 0.5);
}
  
  
.imagen {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
  
.imagen-container:hover .imagen {
    transform: scale(1.1);
}  
  
/* Info debajo de la imagen */

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: 100%;
  }

.card-title{
    font-size: 24px;
    color: #A64170;
    margin: 10px 0;
    text-align: center;
    margin-bottom: 0.3rem;
}

.card-text {
    text-align: center;
    font-size: 20px;
    flex-grow: 1;
    margin-bottom: 1rem;
}
  
.card-subtitle {
    font-size: 30px;
    color: #A64170;
    margin-bottom: 10px;
    text-align: center;
}

.producto-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}
  
.cantidad {
    width: 60px;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #A64170;
    background-color: #D8E6F2;
    color: #3F4F59;
    font-size: 18px;
    text-align: center;
    font-family: 'Jersey 10', cursive;
    appearance: auto;
  -moz-appearance: textfield;
}

.cantidad::-webkit-inner-spin-button,
.cantidad::-webkit-outer-spin-button {
  opacity: 1 !important; /* asegura que las flechitas se vean */
}

.btn-carrito {
    background-color: #A64170;
    border: none;
    padding: 8px 16px;
    color: #D8E6F2;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Jersey 10', cursive;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}
  
.btn-carrito:hover {
    background-color: #A64170;
    box-shadow: 0 0 10px rgba(166, 33, 57, 0.7);
}


.ver-mas {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 213px;
  }
  
  .ver-mas .btn-ver-mas {
    background-color: #A62139;
    color: #D8E6F2;
    padding: 10px 25px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Jersey 10', cursive;
    transition: background-color 0.3s ease;
  }
  
  .ver-mas .btn-ver-mas:hover {
    background-color: #A64170;
  }



/* Estilo del footer */
.footer img {
    vertical-align: middle;
    margin-right: 6px;
}
.icono-footer {
    width: 22px;      
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
    object-fit: contain;
}
/* Estilo de los enlaces */
.footer a {
    color: #A64170;
    text-decoration: none;
    font-size: 18px;
}
  
.footer a:hover {
    color:  white;
    text-decoration: underline;
}



/*login.html*/
/* Contenedor principal de la página */
.login{
    background-color: #2F3B42;
    padding: 40px;
    margin: 40px auto;
    padding: 30px;
    width: 400px;
    border: 2px solid #A62139;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(236, 3, 129, 0.5);
    color: #D8E6F2
}


/*Estilos inputs*/
form input[type="email"],
form input[type="password"] {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #A62139;
    border: 2px solid #D8E6F2;
    border-radius: 8px;
    color: #3F4F59;
    font-family: 'Jersey 10', cursive;
}

form label {
    font-size: 18px;
    display: block;
    text-align: left;
    margin: 10px auto;
}

/* Estilos para el checkbox */
.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 16px;
    color: #D8E6F2;
}

/* Botón de login */
.boton {
    background-color: #A62139;
    color: #D8E6F2;
    border: 2px solid #D8E6F2;
    padding: 10px 30px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Jersey 10', cursive;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.boton-login:hover {
    background-color: #A64170;
}

/* Títulos principales */
h1 {
    color: #A64170;
    font-size: 35px; 
    margin: 1em 0 0.5em 0;
    font-family: 'Jersey 10', cursive;
}

/* Subtítulos o textos secundarios */
h5 {
    color: #A64170;
    margin: 3px 0;
    font-size: 25px;
    text-align: center;
    font-family: 'Jersey 10', cursive;
}


/*register.html*/
/* Contenedor principal de la página */
.register {
    background-color: #2F3B42;
    padding: 30px;
    margin: 40px auto;
    width: 400px;
    border: 2px solid #A62139;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(236, 3, 129, 0.5);
}

/* Inputs del formulario */
.register input[type="text"],
.register input[type="email"],
.register input[type="password"],
.register input[type="date"] {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #A62139;
    border: 2px solid #D8E6F2;
    border-radius: 8px;
    color: white;
    font-family: 'Jersey 10', cursive;
}

/* Título */
.register h1 {
    color: #A64170;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Jersey 10', cursive;
}